# ─── Firebase (Web) ──────────────────────────────────────────────────────────
VITE_FIREBASE_API_KEY=AIzaSyBea-dK5nWWfSa1OC-IQ-gm5Awx_zCPQhI
VITE_FIREBASE_AUTH_DOMAIN=tienda-ropa-8aa48.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tienda-ropa-8aa48
VITE_FIREBASE_STORAGE_BUCKET=tienda-ropa-8aa48.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=302113575346
VITE_FIREBASE_APP_ID=1:302113575346:web:2083ff258a1e19def414ab
VITE_FIREBASE_VAPID_KEY=BDISMFkSVb_O7_hu-tOnDo6YKCxTHawRF6IVIyYi3gEfPy6LQP6MMpgnVJC9A3tP0tfaeA2Q7QrwIoijK_2XQdA

# ─── Backend API ─────────────────────────────────────────────────────────────
VITE_API_URL=https://tu-backend.railway.app
